@import url('//fonts.googleapis.com/css?family=Raleway');
@import url('//fonts.googleapis.com/css?family=Oswald');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
section {
    height: 100%;
}
.intro {
    width: 100%;
    margin: auto;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(//www.joy-riders.com/wp-content/uploads/2015/08/3D75CDE93A.jpg) no-repeat 50% 50%;

    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: None;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 300px 300px 300px #000;
    font-size: 500%;
}

.content .btn {
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    color: #F9F3F4;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #F9F3F4 3px;
    text-transform: uppercase;
    text-decoration: None;
}
.content .btn:hover {
    color: #2C333B;
    border: solid #2C333B 3px;
    background: none;
}
p {
    font-size: 160%;
    line-height: 150%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
    padding: 3%;
}

.main-nav {
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
}

.nav-item {
    font-size: 140%;
    margin-right: 25px;
    font-family: 'Raleway', sans-serif;
    color: #2C333B;
}

.nav-item a{
    color: #F9F3F4;
    text-decoration: none;
}

.nav-item a:hover {
    color: #2C333B;
    background: none;
}

#rent {
    position: relative;
}

.gallery {
    height: 90%;
}
.slide {
    display: none;
    text-align: center;
    height: 90%;
    position: relative;
}

.slide img {
    width: 50%;
}

.text-block {
    position:absolute;
    top: 70%;
    margin: 0 auto;
    width: 100%;
}
.text {
    text-align: center;
    font-size: 20px;
    padding: 0px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    vertical-align: bottom;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(44, 51, 59, 1);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(44, 51, 59, 0.7);
    color: white;
    text-decoration: none;
}

.fadeSlide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.dots {
    margin-bottom: 0;
    text-align: center;
}
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
    background-color: #717171;
}

#contacts {
    background: rgba(110, 96, 72, 0.5); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(110, 96, 72, 0.7), rgba(110, 96, 72, 0.2), rgba(110, 96, 72, 0.1)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(110, 96, 72, 0.7), rgba(110, 96, 72, 0.2), rgba(110, 96, 72, 0.1)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(110, 96, 72, 0.7), rgba(110, 96, 72, 0.2), rgba(110, 96, 72, 0.1)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(110, 96, 72, 0.7), rgba(110, 96, 72, 0.2), rgba(110, 96, 72, 0.1)); /* Standard syntax (must be last) */
    padding: 20px;
    overflow:auto;
}

#contacts p {
    font-size: 15px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#contacts h2 {
    font-family: 'Raleway', sans-serif;
}

#map {
    width: 48%;
    height: 100%;
    float: left
}

.contacts {
    float: right;
    text-align: left;
    vertical-align: middle;
    width: 48%;
}
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 250%;
    }
    .btn {
        font-size: 90%;
        padding: 7px 15px;
    }
    p {
        font-size: 100%;
        line-height: 160%;
        padding: 3%;
    }
    .slide img {
        width: 80%;
    }
}
